.quarto-title-block .quarto-title-banner {
  background-image: url(images/logo_CCT.png);
  background-size: 350px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
}